
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // The `users` collection
    match /users/{userId} {
      // Allow a user to create their own profile document,
      // read their own profile, and update their own profile.
      // Disallow deleting user profiles.
      allow create, get, update: if request.auth.uid == userId;
      allow list, delete: if false;

      // Rule for all subcollections within a user's document
      match /{subcollection}/{logId} {
        // Allow the authenticated user to read, write, create, and delete
        // any log entry (urinary, erectile, psa) within their own document.
        allow read, write, create, delete: if request.auth.uid == userId;
      }
    }
  }
}
